# Libraries

In [2]:
import pandas as pd
#import country_converter library to know the full name of the countries
import country_converter as country_convert

# Salaries CSV

In [ ]:
#pip install country_converter --upgrade

In [3]:
df= pd.read_csv("../data/raw_data/ds_salaries.csv", index_col=0)
df.head(2)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S

In [4]:
df.shape

(607, 11)

In [5]:
#we remove the columns that are necessary
df.drop(labels=["salary", "salary_currency"], axis=1, inplace=True)

In [6]:
# we rename the columns to see better the specificacions of this dataset
df.rename(columns={"salary_in_usd": "salary","work_year":"year","experience_level":"experience",
                  "remote_ratio":"remote_work"}, inplace=True)

In [7]:
df.company_size.replace(["S","M","L"],['Small','Medium','Large'], inplace=True)
df.experience.replace(['EN','MI','SE','EX'],['Junior','Mid-Level','Senior','Executive'],inplace=True)
df.employment_type.replace(['FT','PT','CT','FL'],['Full-time','Part-time','Contract','Freelance'],inplace=True)
df.company_size.replace([100,50,0],['Full Remote','Hybrid','On-site'], inplace=True)

In [ ]:
#country_converter library: we use the library to convert ISO CODES to country names

In [8]:
df["company_location"] = df.company_location.apply(lambda x: country_convert.convert(names=x, to='name_short', not_found=None))

In [9]:
df["employee_residence"] = df.company_location.apply(lambda x: country_convert.convert(names=x, to='name_short', not_found=None))

In [10]:
df.head(2)

,year,experience,employment_type,job_title,salary,employee_residence,remote_work,company_location,company_size
0,2020,Mid-Level,Full-time,Data Scientist,79833,Germany,0,Germany,Large
1,2020,Senior,Full-time,Machine Learning Scientist,260000,Japan,0,Japan,Small

In [ ]:
#df.to_csv('../clean_data/salaries.csv', sep=',', index=True)