# Libraries

In [1]:
import pandas as pd
#import country_converter library to know the full name of the countries
import country_converter as country_convert

# Salaries CSV

In [ ]:
#pip install country_converter --upgrade

In [ ]:
df= pd.read_csv("../data/ds_salaries.csv", index_col=0)
df.head(2)

In [ ]:
df.shape

In [ ]:
df.drop(labels=["salary", "salary_currency"], axis=1, inplace=True)

In [ ]:
df.head(1)

In [ ]:
# How many employees live in a diferrent country of their companies?
result = df.loc[df['employee_residence'] != df['company_location']]
len(result)

In [ ]:
df.rename(columns={"salary_in_usd": "salary","work_year":"year","experience_level":"experience",
                  "remote_ratio":"remote_work"}, inplace=True)

In [ ]:
df.company_size.replace(["S","M","L"],['Small','Medium','Large'], inplace=True)

In [ ]:
df.experience.replace(['EN','MI','SE','EX'],['Junior','Mid-Level','Senior','Executive'],inplace=True)

In [ ]:
df.employment_type.replace(['FT','PT','CT','FL'],['Full-time','Part-time','Contract','Freelance'],inplace=True)

In [ ]:
df.company_size.replace([100,50,0],['Full Remote','Hybrid','On-site'], inplace=True)

In [ ]:
df.head(1)

In [ ]:
#country_converter library

In [ ]:
df["company_location"] = df.company_location.apply(lambda x: country_convert.convert(names=x, to='name_short', not_found=None))

In [ ]:
df["employee_residence"] = df.company_location.apply(lambda x: country_convert.convert(names=x, to='name_short', not_found=None))

In [ ]:
df.head(3)

In [ ]:
df['year'].unique()

In [ ]:
df['experience'].value_counts()

In [ ]:
df.info()

In [ ]:
df["company_location"].value_counts()

In [ ]:
#df.to_csv('../clean_data/salaries.csv', sep=',', index=True)

# Spain Csv

In [ ]:
df_spain= pd.read_csv("../data/spain_com.csv", index_col=0)
df_spain.head(2)

In [ ]:
df_sp= pd.read_clipboard()

In [ ]:
df_sp

In [ ]:
df_sp.info()

In [ ]:
df_sp=df_sp.replace('EUR','', regex=True)

In [ ]:
df_sp=df_sp.replace(',','', regex=True)

In [ ]:
df_sp['Average Salary'] = df_sp['Average Salary'].apply(lambda x: int(x))

In [ ]:
df_sp.info()

In [2]:
df_sp= pd.read_csv("../clean_data/spain_cities.csv", index_col=0)

In [3]:
df_sp_copy=df_sp.copy()

In [4]:
communities= {'Barcelona': 'Cataluña',
                          'Bilbao': 'País Vasco',
                          'Las Palmas': 'Canarias',
                          'Madrid': 'Comunidad de Madrid',
                          'Malaga': 'Andalucía',
                          'Murcia': 'Región de Murcia',
                          'Palma de Mallorca': 'Islas Baleares',
                          'Sevilla': 'Andalucía',
                          'Valencia': 'Comunidad Valenciana',
                          'Zaragoza': 'Aragón'}

In [5]:
df_sp_copy['Autonomous Community'] = df_sp_copy['City'].map(communities)

In [6]:
df_sp_copy

   Autonomous Community               City  Average Salary
0              Cataluña          Barcelona           58200
1            País Vasco             Bilbao           48640
2              Canarias         Las Palmas           48300
3   Comunidad de Madrid             Madrid           56460
4             Andalucía             Malaga           52380
5      Región de Murcia             Murcia           53120
6        Islas Baleares  Palma de Mallorca           52460
7             Andalucía            Sevilla           52880
8  Comunidad Valenciana           Valencia           56140
9                Aragón           Zaragoza           54140

In [ ]:
df_sp_copy = df_sp_copy.reindex(columns=['Autonomous Community', 'City', 'Average Salary'])

In [7]:
df_sp_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Autonomous Community  10 non-null     object
 1   City                  10 non-null     object
 2   Average Salary        10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [9]:
df_sp_copy["City"]

0            Barcelona
1               Bilbao
2           Las Palmas
3               Madrid
4               Malaga
5               Murcia
6    Palma de Mallorca
7              Sevilla
8             Valencia
9             Zaragoza
Name: City, dtype: object

In [11]:
df_sp_copy.to_csv('../clean_data/spain.csv', sep=',', index=True)

In [14]:
df_sp_copy

   Autonomous Community               City  Average Salary
0              Cataluña          Barcelona           58200
1            País Vasco             Bilbao           48640
2              Canarias         Las Palmas           48300
3   Comunidad de Madrid             Madrid           56460
4             Andalucía             Malaga           52380
5      Región de Murcia             Murcia           53120
6        Islas Baleares  Palma de Mallorca           52460
7             Andalucía            Sevilla           52880
8  Comunidad Valenciana           Valencia           56140
9                Aragón           Zaragoza           54140

# BY STATE

In [ ]:
df_state= pd.read_csv("../clean_data/states.csv", index_col=0)
df_state

In [ ]:
df_state.columns = ['state', 'n_jobs', 'avg_salary']

In [ ]:
df_state.head(2)

In [ ]:
df_state.info()

In [ ]:
df_state=df_state.replace(',','', regex=True)
df_state.head(1)

In [ ]:
df_state=df_state.replace('[$]','', regex=True)
df_state.head(1)

In [ ]:
columns_to_convert=df_state.columns[1:3]

In [ ]:
for col in columns_to_convert:
    df_state[col] = df_state[col].apply(lambda x: int(x))

In [ ]:
df_state.info()

In [ ]:
df_state.loc[50]=["Caleeeeifornia",3874,120196]

In [ ]:
df_state

In [ ]:
#df_state.to_csv('../clean_data/states.csv', sep=',', index=True)